.banner {
	min-height: 337px;
	display: flex;
	align-items: flex-start;
	color: $white;
	padding-top: 1.7rem;
    padding-bottom: 10rem;

	.grid-container {
		width: 100%;
		position: relative;
		
		h1 {
			font-family: $header-font-family-alt;
			padding-top: 9.9rem;
			line-height: 1.14;
		}
		
	}
	
}