.banner {
	min-height: 337px;
	display: flex;
	align-items: flex-start;
	color: $white;

	.grid-container {
		width: 100%;
		position: relative;
		
		h1 {
			font-family: $header-font-family-alt;
			padding-top: 9.9rem;
		}
		
	}
	
	.button {
		background-color: transparent;
		border: 1px solid $white;
		padding: .75rem 1.908rem;
	}
	
}