.home {
	
	section {
		position: relative;
		z-index: 1;
	}
	
	.banner {
		min-height: 687px;
		
		h1 {
			line-height: 1.1388;
			margin-bottom: .25rem;
		}
		
		p {
			font-size: rem-calc(25);
			line-height: 1.52;
		}
		
		.link-wrap {
			padding-top: .25rem;
		}
		
	}
	
	.slider {
		height: 517px;
		padding-top: 200px;
		overflow: hidden;
	    position: relative;
	    background: url(../images/mtn-bg.svg);
	    background-size: cover;
	    background-position: 50% 0%;
	    margin-top: -120px;	
	    
	&.slick-initialized {
		height: auto;
	}	
	    
	    .slider-nav button {
		    svg {
			    path {
				    transition: all .25s ease;
			    }
		    }
		    &:hover {
			    background-color: transparent;
			    
			    svg {
				    path {
					    stroke: $white;
				    }
			    }
			    
		    }
	    }
	    
	    
	}
	
	.s1 {
		padding-bottom: 6rem;
		
		@include breakpoint(medium) {
			padding-bottom: 10.75rem;
		}
		
		.callout-card {
			position: relative;
			background-color: $white;
			margin-top: -49px;
			padding-right: .7rem;
			padding: 2.5rem 3.25rem;
			max-width: 90vw;
			
			h3 {
				margin-bottom: 0;
			}
			h2 {
				margin: 0;
			}
		}
		
		.svgs-wrap {
			padding-top: 4rem;
			padding-bottom: 2rem;
			
			@include breakpoint(tablet) {
				padding: 0;
				margin-top: -14rem;
				margin-bottom: -10rem;
			}
					
			.trail-icons-wrap {
				svg {
					overflow: visible;
					margin-left: -1.25rem;
					margin-right: -1.25rem;
					
					g#Group_812 {
						.ticks > g {
							opacity: 0;
						}
					}
					
					g#Group_814 {
						g {
							
						&.scale-up,
						&.move-down {
							opacity: 0;
						}
							
						}
												
					}
					
				}
			}
						
		}
		
		h2 {
			font-size: rem-calc(38);
			line-height: 1.32;
			color: $brand-blue;
			margin-bottom: .45em;
			
			@include breakpoint(medium) {
				font-size: rem-calc(50);
			}
			
		}
		
		.link-wrap {
			padding-top: 1.1rem;
		}
		
	}
	
	.s2 {
		
		.heading-wrap {
			position: relative;
			margin-bottom: -3.25rem;
			
			h2 {
				font-size: rem-calc(60);
				line-height: 1.1388;
				
				@include breakpoint(medium) {
					font-size: rem-calc(72);
				}
				
			}
			
		}
		
		.col-right {
			margin-top: -5.2rem;
		}
		
		.single-card {
			margin-bottom: 5.2rem;
			
			@include breakpoint(medium) {
				max-width: 613px;
				margin-left: auto;
				margin-right: auto;
			}
			
		}
		
		.text-card {
			margin-top: -72px;
			
			.links-wrap {
				a {
					
				&:hover {
					color: $brand-orange;
					
					svg {
						path {
							stroke: $brand-orange;
						}
					}
					
				}
					
				}
			}
			
		}
	}
	
	.pre-footer {
		background-color: $white;
	}
	
}