.blog {
	
	.featured-post {
		padding-top: 4.66rem;
		padding-bottom: 3.3rem;
		
		h2 {
			margin-bottom: .43em;
		}
		
		.bottom {
			position: relative;
			display: flex;
			flex-direction: column;
			
			@include breakpoint(tablet) {
				flex-direction: row;
			}
			
			p {
				@include breakpoint(tablet) {
					padding-right: 57px;
				}
			}
			
			.btn-wrap {
				
				@include breakpoint(tablet) {
					position: absolute;
				    top: 13px;
				    right: 0;
				    transform: translateX(190px);
			    }
			    
			}
			
		}
		
		.right {
			margin-bottom: 2rem;
		}
		
	}
	
}

.blog,
.archive {
	
	.content {
		padding-bottom: 4.1rem;
	}
	
	.page-nav {
		padding-top: 5rem;
	}
	.posts {
		padding-top: 7.3rem;
		
		.post {
			margin-bottom: 2.9rem;
			
			.thumb-wrap {
				margin-bottom: 1.5rem;
				
				@include breakpoint (xlarge){
					margin-bottom: 0;
				}
				
			}
			    
			header.article-header {
				a {
					font-family: $header-font-family;
					font-size: rem-calc(16);
				}
				
				h2 {
					font-size: rem-calc(31);
					line-height: 1.258;
				}
				
			}
			.entry-content {
				p {
					font-size: rem-calc(15);
					line-height: 1.6;
					margin-bottom: 0.1rem;
				}
				
				a {
					font-weight: 600;
				}
				
			}
		}
		
	}
	
	.mailing-list {
		margin-top: 6.85rem;
		
		.inner {
			
			@include breakpoint(tablet) {
				min-height: 593px;
				display: flex;
			}
			
		}
	}
	
}

.page-template-default,
.single-post {
	
	main {
		position: relative;
		z-index: 1;
		padding-top: 5.6rem;
		padding-bottom: 13.7rem;
	}
	
	.byline {
		color: $brand-orange;
		font-family: $header-font-family;
		font-size: rem-calc(20);
		line-height: 1.65;
		margin-bottom: .45em;
	}
	
	h1.entry-title {
		font-size: rem-calc(40);
		line-height: 1;
		margin-bottom: .64em;
		
		@include breakpoint(medium) {
			font-size: rem-calc(60);
		}
		
	}
	
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5 {
		font-family: $body-font-family;
		font-weight: bold;
	}
	
	
	h2,
	.h2 {
		font-size: rem-calc(25);
		line-height: 1.32;
		margin-bottom: .9rem;
	}
	
	.wp-block-image {
    	margin: 0 0 3em;    	
	}
	
	@media screen and (min-width: 600px) {
		.wp-block-columns .wp-block-image {
	    	margin: 0;
	    }
    }
	
	.wp-block-columns {
    	padding-top: 1.6rem;
	}
	
	figcaption {
		font-size: rem-calc(12);
		color: #767676;
	}
	
	.wp-block-buttons {
		padding: 2.25rem 0;
		justify-content: center;		
	}
	
	.article-footer {
		
		.share {
			border-top: 1px solid $medium-gray;
			margin-top: 3.4rem;
			padding-top: 2.8rem;
			
			.share-label {
				text-transform: uppercase;
				font-size: rem-calc(15);
				font-weight: 500;
				letter-spacing: 2px;
				color: $brand-blue;
				padding-bottom: 1.05rem;
			}
			
			.a2a_kit {
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    
			    a {
				    padding: 0;
				    margin: .5rem;
			    }
			    
			}
			
		}
		
	}
		
}

.page-template-default {
	
	main {
		padding-bottom: 0.85rem;
	}
	
	section {
		padding-bottom: 0;
	}
	
	h2 {
		color: $brand-orange;
		font-size: rem-calc(40);
		line-height: 1;
		margin-bottom: .64em;
		font-family: $header-font-family-alt;
		font-weight: 400;
		
		@include breakpoint(medium) {
			font-size: rem-calc(60);
		}
		
	}
	
	h3,
	h4,
	h5 {
		color: $white;
	}
	
	figcaption {
		color: $white;
	}
	
	.bold-centered-text {
		color: $brand-orange;
	}
	
	.pre-footer {
		background-color: $brand-blue;
	}
	
}