.page-template-template-tour-landing {

	.text-icons {
		.grid-container {
			position: relative;
		}
		
		.blue-bg {
			padding-top: 5rem;			
		}
		
		.left {
			margin-bottom: 2rem;
			
			.inner {
				max-width: 437px;
			}
		}
		
		.right {
			.inner {
				position: relative;
				
				svg {
					position: absolute;
					bottom: 0;
					left: 20%;
					
					circle#Ellipse_3-2 {
						transition: all .3s ease;
					}
					
					a:hover {
						
						circle#Ellipse_3-2 {
							fill: $brand-orange;
						}
						
					}
					
				}
				
			}
		}
		
	}
	
	.s1 {
		.grid-container {
			position: relative;
		}
		
		.blue-bg {
			padding-top: 5rem;
			padding-bottom: 4rem;
			
			@include breakpoint(tablet) {
				padding-bottom: 2rem;
			}
			
			.bg {
				background-position: 0% 50%;
				
				@include breakpoint(large) {
					background-position:50%;
				}
				
			}
			
		}
		
		.left {
			margin-bottom: 2rem;
			
			.inner {
				max-width: 437px;
			}
		}
		
		.right {
			.inner {
				position: relative;
				
				svg {
					position: absolute;
					bottom: 0;
					left: 20%;
					
					circle#Ellipse_3-2 {
						transition: all .3s ease;
					}
					
					a:hover {
						
						circle#Ellipse_3-2 {
							fill: $brand-orange;
						}
						
					}
					
				}
				
			}
		}
		
	}
	
	.s2 {
		
		.left {
			@include breakpoint(medium) {
				padding-right: 0;
			}
			
			.inner {
				padding-top: 5.25rem;
				padding-bottom: 6rem;
				background: #E5E5E5 url(../images/left-map.svg);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;			
			}
			
		}
		
		.right {
			@include breakpoint(medium) {
				padding-left: 0;
			}
						
			.inner {
				position: relative;
				height: 100%;
								
				.text-wrap {
					color: $white;
					position: relative;
					width: 100%;
					max-width: 431px;
					margin: auto;
					padding: 2rem;
				}
				
				h2,
				h3 {
					color: $white;
				}
				
				h2 {
			
					font-size: rem-calc(60);
					line-height: 1.0138;
					margin-bottom: .1em;
					
					@include breakpoint(medium) {
						font-size: rem-calc(72);
					}
					
				}
				
				h3 {
					font-size: rem-calc(23);
					line-height: 1.5217;
				}
				
				.link-wrap {
					padding-top: 0.62rem;
				}
				
			}
			
		}
	}
	
	.s3 {
		
		.text-card {
			@include breakpoint(tablet) {
				margin-top: 17.7875rem;
			}
			.card-shadow {
				@include breakpoint(tablet) {
					min-width: 452px;
					transform: translateX(-54%);
				}
			}
		}
		
	}
	
}