.page-template-template-tour-landing,
.page-template-page-templates {
	
	.breadcrumbs {
		a,
		span.current {
			font-family: $header-font-family-alt;
			font-size: rem-calc(16);
			line-height: 1.1875;
			letter-spacing: .05px;
			color: $black;
		}
	}
	
}